<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgb(176, 17, 250); font-weight: 200; font-size: 20px;">
      Lista ćwiczeń
  </div>
  <div class="mt-3 mb-2" style="margin: auto; width: 80%; height: 1px; background-color: rgb(176, 17, 250);">
  </div>
</div>

    <div class="list-container">
          <div class="list-group-flush list-group-item list-group w-75" *ngFor='let exercise of exeSvc.exercisesList'>
            <span class="badge badge-pill badge-info d-inline-block w-75 m-1 align-text-center">
              <span class="mt-1">{{exercise.name}}</span>
              <span class="badge badge-pill badge-warning w-35 fr m-1 d-inline-block" *ngFor='let category of exercise.categories'>
                {{category.name}} - {{category.stringCategory}}
              </span>
            </span>
            <button type="button" class="btn btn-danger fr" (click)="deleteExercise(exercise.id)">x</button>
          </div>
    </div>

<!-- Paginacja -->
    <div class="row card-body justify-content-center">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)='changePage(exeSvc.myPage-1)'
              [disabled]="exeSvc.currentPage == 1">Poprzednia</button>
          </li>
          <li *ngFor='let page of exeSvc.pageList' class="page-item">
            <a class="page-link" (click)='changePage(page)'
              [ngStyle]="{'background-color':exeSvc.currentPage === page ? 'lightgreen' : '' }">
              {{page}}
            </a>
          </li>
          <li class="page-item">
            <button class="page-link" (click)='changePage(exeSvc.myPage+1)'
              [disabled]="exeSvc.currentPage == exeSvc.maxPage">Następna</button>
          </li>
        </ul>
      </nav>

    </div>
