<div class="card col-8 mt-5 ml-auto mr-auto">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="mt-2">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

      <div *ngIf="submitted && fControls.email.errors" class="invalid-feedback">
        <div *ngIf="fControls.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password">

      <div *ngIf="submitted && fControls.password.errors" class="invalid-feedback">
        <div *ngIf="fControls.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="row justify-content-between">
      <button type="submit" class="btn btn-primary mb-3 ml-3">Submit</button>
      <button routerLink="/register" class="btn btn-info mb-3 mr-3">Register</button>
    </div>
  </form>
</div>
