
<div class="card col-8 mt-5 ml-auto mr-auto">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" formControlName="email"  class="form-control" placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && fControls.email.errors }">

      <div *ngIf="submitted && fControls.email.errors" class="invalid-feedback">
        <div *ngIf="fControls.email.errors.required">Email is required</div>
    </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && fControls.password.errors }">

      <div *ngIf="submitted && fControls.password.errors" class="invalid-feedback">
        <div *ngIf="fControls.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" [ngClass]="{ 'is-invalid': submitted && fControls.confirmPassword.errors }">

      <div *ngIf="submitted && fControls.password.errors" class="invalid-feedback">
        <div *ngIf="fControls.confirmPassword.errors.required">Passwords must match !</div>
      </div>
    </div>

    <div class="row justify-content-between">
      <button type="submit" class="btn btn-primary mb-3 ml-3">Register</button>
      <button class="btn btn-info mb-3 mr-3" (click)='onReset()'>Clear fields</button>
      <button class="btn btn-warning mb-3 mr-3" routerLink='/login'>Go back</button>
    </div>
  </form>
</div>
