      <div class="show-sm upper-nav">
        <div class="w-10 d-inline-block pl-2" style="width: 20%;">
        </div>
        <div class="d-inline-block text-center"
            style="width: 60%; padding-top: 2px; color: rgba(253, 32, 150); font-weight: 200; font-size: 20px;">
            Lista treningów
        </div>
        <div class="mt-3 mb-2" style="margin: auto; width: 80%; height: 1px; background-color: rgba(253, 32, 150);">
        </div>
      </div>

  <!-- collapsable list items -->
        <ul *ngIf='trainingSvc.trainingsList'>
      <a class="list-group-item list-group-flush list-group" *ngFor='let training of trainingSvc.trainingsList; let i = index;'
      (click)="training.isCollapsed = !training.isCollapsed"
          [attr.aria-expanded]="!training.isCollapsed" [attr.aria-controls]="training.id">{{training.name}}

          <div [id]="training.id" [ngbCollapse]="!training.isCollapsed">
        <span class="badge badge-pill badge-info m-1 d-inline-block" *ngFor='let category of training.categories; let i = index;'>
          <span class="mt-1">{{i+1}}.  {{category.name}}</span>
          <span class="badge badge-pill badge-warning m-1"> {{category.stringCategory}} </span>
        </span>
          </div>
      </a>
      </ul>


    <!-- pagination -->
    <div class="row card-body justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)='changePage(trainingSvc.myPage-1)'
              [disabled]="trainingSvc.currentPage == 1">Poprzednia</button>
          </li>
          <li *ngFor='let page of trainingSvc.pageList' class="page-item">
            <a class="page-link" (click)='changePage(page)'
              [ngStyle]="{'background-color':trainingSvc.currentPage === page ? 'lightgreen' : '' }">
              {{page}}
            </a>
          </li>
          <li class="page-item">
            <button class="page-link" (click)='changePage(trainingSvc.myPage+1)'
              [disabled]="trainingSvc.currentPage == trainingSvc.maxPage">Następna</button>
          </li>
        </ul>
      </nav>

    </div>
