<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgba(16, 179, 255, 1); font-weight: 200; font-size: 20px;">
      Dodaj kategorię
  </div>
  <div class="mt-3 mb-2" style="margin: auto; width: 80%; height: 1px; background-color: rgba(16, 179, 255, 1);">
  </div>
</div>
    <div class="form-container">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputName" class="mt-2">Nazwa kategorii</label>
        <input type="text" formControlName="name" class="form-control" id="inputName"
          aria-describedby="inputName" placeholder="Wprowadź nazwę kategorii" style="width: 400px;">

        <div *ngIf="submitted && fControls.name.errors" class="invalid-feedback">
          <div *ngIf="fControls.email.errors.required">Nazwa jest wymagana!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputCategoryType">Typ kategorii</label>
        <select formControlName="categoryType" class="form-control" id="inputCategoryType"
          placeholder="Category type">
          <option [value]="0">Izolacyjne</option>
          <option [value]="1">Złożone</option>
        </select>
        <div *ngIf="submitted && fControls.categoryType.errors" class="invalid-feedback">
          <div *ngIf="fControls.categoryType.errors.required">Typ kategorii jest wymagany!</div>
        </div>
      </div>
      <div class="row justify-content-between">
        <button type="submit" class="btn btn-primary mb-3 ml-3"><i class="lni-check-mark-circle x-2"></i> Dodaj kategorie</button>
      </div>
    </form>
  </div>
