<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgb(176, 17, 250); font-weight: 200; font-size: 20px;">
      Dodaj ćwiczenie
  </div>
  <div class="mt-3 mb-2" style="margin: auto; width: 80%; height: 1px; background-color: rgb(176, 17, 250);">
  </div>
</div>

  <div class="card-body">
    <form [formGroup]="addExerciseForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputName" class="mt-2">Nazwa ćwiczenia</label>
        <input type="text" formControlName="name" class="form-control" id="inputName" aria-describedby="inputName"
          placeholder="Wprowadź nazwę">

        <div *ngIf="submitted && fControls.name.errors" class="invalid-feedback">
          <div *ngIf="fControls.email.errors.required">Nazwa jest wymagana!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputReps">Powtórzenia</label>
        <input type="number" formControlName="reps" class="form-control" id="inputReps" aria-describedby="inputReps"
          placeholder="Wprowadź ilość powtórzeń">
        <div *ngIf="submitted && fControls.reps.errors" class="invalid-feedback">
          <div *ngIf="fControls.reps.errors.required">Ilość powtórzeń jest wymagana!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputReps">Serie</label>
        <input type="number" formControlName="series" class="form-control" id="inputSeries"
          aria-describedby="inputSeries" placeholder="Wprowadź ilość serii">
        <div *ngIf="submitted && fControls.series.errors" class="invalid-feedback">
          <div *ngIf="fControls.series.errors.required">Ilość serii jest wymagana!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBreak">Przerwa</label>
        <input type="number" formControlName="break" class="form-control" id="inputBreak" aria-describedby="inputBreak"
          placeholder="Wprowadź długość przerwy">
        <div *ngIf="submitted && fControls.break.errors" class="invalid-feedback">
          <div *ngIf="fControls.break.errors.required">Przerwa jest wymagana wariacie!</div>
        </div>
      </div>
      <ng-select style="font-family: roboto" placeholder="Wprowadź kategorię serii" [multiple]="true" [maxSelectedItems]="3" #select formControlName="exerciseCategoryId" >
        <ng-option *ngFor="let item of categoryArr" [value]="item.id">{{item.name}}</ng-option>
      </ng-select>
      <div class="row justify-content-between">
        <button type="submit" class="btn btn-primary mb-3 ml-3"><i class="lni-check-mark-circle x-2"></i> Dodaj ćwiczenie</button>
      </div>
    </form>
  </div>
