<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgba(253, 32, 150); font-weight: 200; font-size: 20px;">
      Dodaj trening
  </div>
  <div class="mt-3" style="margin: auto; width: 80%; height: 1px; background-color: rgba(253, 32, 150);">
  </div>
</div>

  <div class="card-body" *ngIf=addTrainingForm>
    <form [formGroup]="addTrainingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputName" class="mt-2">Nazwa treningu</label>
        <input type="text" formControlName="name" class="form-control" id="inputName" aria-describedby="inputName"
          placeholder="Wpisz nazwę treningu">

        <div *ngIf="submitted && addTrainingForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="addTrainingForm.controls.name.errors.required">Nazwa jest wymagana!</div>
        </div>
      </div>

      <div formArrayName="exercises" *ngFor="let formExercise of exeControls.controls; let i = index;">
        <div [formGroupName]="i">

          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="exeSelect">Wybierz ćwiczenie</label>
            </div>
            <select class="custom-select" id="exeSelect" formControlName="id" >
              <option *ngFor="let exercise of exerciseList" [ngValue]="exercise.id">{{exercise.name}}</option>
            </select>
          </div>
          <div class="input-group-prepend">
            <label class="input-group-text" for="reps">Powtórzenia</label>
          <input type="number" class="form-control" formControlName="reps" placeholder="Powtórzenia">

          <label class="input-group-text" for="series">Serie</label>
          <input type="number" class="form-control" formControlName="series" placeholder="Serie">

          <label class="input-group-text" for="break">Przerwa</label>
          <input type="number" class="form-control" formControlName="break" placeholder="Przerwa">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="exeSelect">Wybierz typ serii końcowej</label>
            </div>
          <select class="custom-select" id="endSeriesSelect" formControlName="exerciseEndSeriesType" >
            <option *ngFor="let endType of endTypeList" [ngValue]="endType">{{endType}}</option>
          </select>
          </div>
          <div class="mb-1">
          <button type="button" class="btn btn-danger fr mb-3" (click)="removeExercise(i)" [disabled]="exeControls.controls.length == 1">
            <i class="lni-trash x-2"></i> Usuń ćwiczenie</button>
        </div>
        </div>
      </div>
      <div class="row justify-content-between mb-2">
        <button type="button" class="btn btn-success" (click)="addExercise()"><i class="lni-plus x-2"></i> Dodaj ćwiczenie</button>
      </div>
      <button type="submit" form="addTrainingForm" class="btn btn-primary mb-3 mt-4 fl" (click)="onSubmit()" [disabled]="addTrainingForm.invalid">
        <i class="lni-check-mark-circle x-2"></i> Dodaj trening</button>
    </form>

  </div>

