body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}
.dropdown-toggle::after {
  display:none;
}
/* end of navbar */
li {
    list-style-type: none;
}
button {
    border: none;
    color: lightslategray;
    background-color: #ffffff;
    cursor: pointer;
}

/* new css */

.nav-item {
  cursor: pointer;
  outline: none !important;
}

nav.bottom-nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0vh !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.container-fluid {
  background-color: white !important;
}

.main-menu {
  width: 100% !important;
  padding-bottom: 5px;
}

.main-menu .small-tab {
  width: 20%;
  height: 60px !important;
  color: rgb(214, 214, 214);
  padding: 20px 0px 20px 0px !important;
  transition: ease-out width 0.2s !important;
  overflow: hidden;
  cursor: pointer !important;
  display: inline-block;
  outline: none !important;
}

.small-tab .menu-pill {
  //margin-top: 15px !important;
  padding: 15px 20px 15px 20px;
  border-radius: 25px;
  height: 42px !important;
  overflow: hidden;
  white-space: nowrap;
}

.menu-pill i {
  top: -6px;
  position: relative;
}

.small-tab .menu-desc {
  top: -11px;
  position: relative;
  margin-left: 10px;
  font-size: 11px;
  display: none;
  font-weight: 500;
}

.small-tab .now-ui-icons {
  top: 6px;
  position: relative;
}

.selected {
  width: 40% !important;
}

.selected .menu-pill .menu-desc {
  display: inline-block;
}

.selected.orange {
  color: rgba(251, 90, 36, 1) !important;
}

.selected.ocean {
  color: rgba(16, 179, 255, 1) !important;
}

.selected.yellow {
  color: rgb(176, 17, 250) !important;
}

.selected.pink {
  color: rgb(253, 32, 150) !important;
}

.selected.orange .menu-pill {
  background-color: rgba(250, 84, 28, 0.05) !important;
  //background-color: #ffe2da8c !important;
}

.selected.ocean .menu-pill {
  background-color: rgba(16, 179, 255, 0.05) !important;
}

.selected.yellow .menu-pill {
  background-color: rgba(176, 17, 250, 0.05) !important;
}

.selected.pink .menu-pill {
  background-color: rgba(253, 32, 150, 0.05) !important;
}
