
<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgba(251, 90, 36, 1); font-weight: 200; font-size: 20px;">
      Panel administracyjny
  </div>
  <div class="d-inline-block float-right mr-3 mt-2" style="width: 10%;">
      <button class="icon-button bg-transparent  d-inline-block" (click)="logout()">
          <i class="lni-exit pointer" style="font-weight: 600; font-size: 1.2rem; color: rgba(251, 90, 36, 0.4);"></i>
      </button>
  </div>
  <div class="mt-3" style="margin: auto; width: 80%; height: 1px; background-color: rgba(251, 90, 36, 0.2);">
  </div>
</div>

<div class="container-fluid pt-3" style="min-height: 100vh;">
  <div class="show-sm" style="height: 55px;"></div>
  <!-- content -->
  <router-outlet></router-outlet>
  <div class="show-sm" style="height: 76px;"></div>
</div>
<nav class="bottom-nav show-sm text-center">
  <div class="main-menu">
      <div class="small-tab orange" [routerLink]="[ 'dashboard' ]" routerLinkActive="selected">
          <span class="menu-pill">
              <i class="lni-layers x-2"></i> <span class="menu-desc"> Dashboard </span>
          </span>
      </div>
      <div class="small-tab pink" ngbDropdown placement="top" container="body" routerLinkActive="selected">
          <span class="menu-pill" id="dropdownTrainings" ngbDropdownToggle>
              <i class="lni-wheelchair x-2"></i><span class="menu-desc"> Treningi</span>
              <div ngbDropdownMenu aria-labelledby="dropdownTrainings">
                <button ngbDropdownItem [routerLink]="['trainings/list']">Lista treningów</button>
                <button ngbDropdownItem [routerLink]="['trainings/new']">Dodaj trening</button>
              </div>
          </span>

      </div>
      <div class="small-tab yellow" ngbDropdown placement="top" container="body" routerLinkActive="selected">
          <span class="menu-pill" id="dropdownExercises" ngbDropdownToggle>
              <i class="lni-dumbbell x-2"></i>
              <span class="menu-desc"> Ćwiczenia </span>

              <div ngbDropdownMenu aria-labelledby="dropdownExercises">
                <button ngbDropdownItem [routerLink]="['exercises/list']" routerLinkActive="selected">Lista ćwiczeń</button>
                <button ngbDropdownItem [routerLink]="['exercises/new']" routerLinkActive="selected">Dodaj ćwiczenie</button>
              </div>
          </span>

      </div>
      <div class="small-tab ocean" ngbDropdown placement="top" container="body" routerLinkActive="selected">
          <span class="menu-pill" id="dropdownCategories" ngbDropdownToggle>
              <i class="lni-calendar x-2"></i>
              <span class="menu-desc"> Kategorie </span>

              <div ngbDropdownMenu aria-labelledby="dropdownCategories">
                <button ngbDropdownItem [routerLink]="['categories/list']" routerLinkActive="selected">Lista kategorii</button>
                <button ngbDropdownItem [routerLink]="['categories/new']" routerLinkActive="selected">Dodaj kategorię</button>
              </div>
          </span>
      </div>
  </div>
</nav>
