<div class="show-sm upper-nav">
  <div class="w-10 d-inline-block pl-2" style="width: 20%;">
  </div>
  <div class="d-inline-block text-center"
      style="width: 60%; padding-top: 2px; color: rgba(16, 179, 255, 1); font-weight: 200; font-size: 20px;">
      Lista kategorii
  </div>
  <div class="mt-3 mb-2" style="margin: auto; width: 80%; height: 1px; background-color: rgba(16, 179, 255, 1);">
  </div>
</div>

<div class="list-container">
      <div class="list-group-flush list-group-item list-group w-75" *ngFor='let category of catSvc.categoriesList'>
        <span class="d-inline-block w-75 mt-2" style="font-weight: 200;">{{category.name}}</span>
        <button type="button" class="btn btn-danger mb-1" (click)="deleteCategory(category.id)"><i class="lni-trash x-2"></i></button>
      </div>
</div>

    <div class="row card-body justify-content-center">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)='changePage(catSvc.myPage-1)'
              [disabled]="catSvc.currentPage == 1">Poprzednia</button>
          </li>
          <li *ngFor='let page of catSvc.pageList' class="page-item">
            <a class="page-link" (click)='changePage(page)'
              [ngStyle]="{'background-color':catSvc.currentPage === page ? 'lightgreen' : '' }">
              {{page}}
            </a>
          </li>
          <li class="page-item">
            <button class="page-link" (click)='changePage(catSvc.myPage+1)'
              [disabled]="catSvc.currentPage == catSvc.maxPage">Następna</button>
          </li>
        </ul>
      </nav>

    </div>

